<% provide(:title, "Edit information") %>
<h1>User information</h1>

<div class="card-group">
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Edit information</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <%= form_for @user_info, url: {action: "update"} do |f| %>
          <div class="form-group">
            <%= label_tag :nickname, "Nickname"%>
            <%= f.text_field :nickname, :class=>"form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :school, "School"%>
            <%= f.text_field :school, :class=>"form-control" %>
          </div>
            <%= f.submit "Submit", :class=>"btn btn-primary float-right"%>
        <% end %>
      </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Edit password</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <%= form_for @user, url: {action: "update_pwd"} do |f| %>
          <div class="form-group">
            <%= label_tag :password, "Password"%>
            <%= f.password_field :password, :class=>"form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :password_confirmation, "Password Confirmation"%>
            <%= f.password_field :password_confirmation, :class=>"form-control" %>
          </div>
            <%= f.submit "Submit", :class=>"btn btn-primary float-right"%>
        <% end %>
      </div>
    </div>
</div>
</div>
<div class="card-footer">
  <%= link_to @user, :class => "btn btn-primary", 
      :method => :get do %>
      <i class="fas fa-arrow-left"></i>
      Back
  <% end %>
</div>
