<% provide(:title, "User information") %>
<h1>User information</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">User information</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="scoreTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="align-middle text-center">Username</th>
              <th class="align-middle text-center">Email</th>
              <th class="align-middle text-center">Nickname</th>
              <th class="align-middle text-center">School</th>
              <th class="align-middle text-center">Auth</th>
            </tr>
          </thead>
          <tbody>
            <tr class="<%= valid_color(@user) %>">
              <td class="align-middle text-center"><%= @user.username %></td>
              <td class="align-middle text-center"><%= @user.email %></td>
              <td class="align-middle text-center"><%= @user_info.nickname %></td>
              <td class="align-middle text-center"><%= @user_info.school %></td>
              <td class="align-middle text-center"><%= get_user_auth @user %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-muted">
    <%= link_to edit_user_path(@user), :class => "btn btn-primary" do %>
        <i class="fas fa-eraser"></i>
        Modify
    <% end %>
    <%= render 'approve', user: @user %>
    </div>
</div>