<div class="row">
  <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
  <div class="col-lg-7">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
      </div>
      <%= form_with(model: @user, local: true) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :email %>
        <%= f.email_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit "创建账户" %>
      <% end %>
      
      <hr>
      <div class="text-center">
        <a class="small" href="<%= forgot_password_examples_path %>">Forgot Password?</a>
      </div>
      <div class="text-center">
        <a class="small" href="<%= login_examples_path %>">Already have an account? Login!</a>
      </div>
    </div>
  </div>
</div>