<% provide(:title, "Result upload") %>
<h1>Online result upload</h1>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Files uploaded</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="rankingTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="align-middle text-center">#</th>
              <th class="align-middle text-center">file name</th>
              <th class="align-middle text-center">modify time</th>
              <th class="align-middle text-center">size</th>
              <th class="align-middle text-center">operations</th>
            </tr>
          </thead>
          <tbody>
            <% clear_counter %>
            <% @user.file_uploads.each do |file| %>
            <tr>
            <th class="align-middle text-center" scope="row"><%= index_counter %></th>
            <td class="align-middle text-center"><%= file.file_name %></td>
            <td class="align-middle text-center"><%= file.updated_at %></td>
            <td class="align-middle text-center"><%= file.file_size %></td>
            <td>
              <div class="row">
                <div class="align-middle text-center col">
                <%= link_to submit_file_path(file.id), :class => "btn btn-danger btn-block", 
                    data: { confirm: "Are you sure?"}, :method => :delete do%>
                  <i class="far fa-trash-alt"></i>
                  Delete
                <% end %>
                </div>
                <div class="align-middle text-center col">
                <%= link_to download_submit_file_path(file.id), :class => "btn btn-primary btn-block", 
                    :method => :get do %>
                  <i class="fas fa-cloud-download-alt"></i>
                  Download
                <% end %>
                </div>
              </div>
            </td>
            </tr>
            <% end %>
            <% if counter_is_zero? %>
            <tr class="table-active align-middle text-center"><td colspan="6">No record</td></tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>


<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'upload_file' %>
  <%= submit_tag("Submit") %>
<% end %>


